/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
/dist
!/dist/main.js
.DS_Store
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
html-command-prompt-*.tgz