.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .terminal-lines {
      overflow-y: auto;
      padding: 1%;
  }
  .terminal-cursor {
      animation: blink 1s linear 0s infinite;
      font-weight: bold;
  }
  
  @keyframes blink {
      0%, 49% {
          opacity: 0;
      }
      50%, 100% {
          opacity: 1;
      }
  }
  